#app {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

a {
    color: currentColor;
    text-decoration: none;
}

@media (hover: hover) {
    a:hover {
        color: hsl(224, 100%, 37%);
    }
}

@media (min-width: 1024px) {
    body {
        font-family: monospace;
        letter-spacing: 0.2em;
    }
}
  