#app {
    max-width: 1280px;
    width: 100%;
    margin: 0;
    font-weight: normal;
}

#modals {
	height: 0;
	position: sticky;
	top: 0;
	left: 0;
}

a {
    text-decoration: none;
}

button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

.main {
	padding: 0 50px;
}

@media (hover: hover) {
    a:hover {
        color: hsl(224, 100%, 37%);
    }
}

@media (min-width: 1024px) {
    body {
        font-family: monospace;
        letter-spacing: 0.2em;
    }
}

