---
import Layout from "../layouts/Layout.astro";
import TickerCompleteInfo from "../components/TickerCompleteInfo.vue";

export const prerender = false;

const { ticker } = Astro.params;
---

<Layout title="Ticker">
	<section>
		<TickerCompleteInfo
			client:only="vue"
			tickerId={ticker}
		/>
	</section>
</Layout>
