---
import Layout from "../layouts/Layout.astro";
import TickerCompleteInfo from "../components/TickerCompleteInfo.vue";

export const prerender = false;

const { ticker } = Astro.params;
---

<main>
	<Layout title="Ticker">
		<TickerCompleteInfo
			client:only="vue"
			tickerId={ticker}
		/>
	</Layout>
</main>
