---
import Layout from "../layouts/Layout.astro";
import TickerList from "../components/TickerList.vue";
---

<Layout title="Astronomicon">
	<main>
		<TickerList client:only="vue"/>
	</main>
</Layout>
