---
import Layout from "../layouts/Layout.astro";
import TickerList from "../components/TickerList.vue";
---

<Layout title="Astronomicon">
	<main>
		<h1>Astronomicon</h1>
		<hr class="divider"/>
		<TickerList client:only="vue"/>
	</main>
</Layout>

<style>
.divider {
	border-top-style: none;
	border-left-width: 0;
	border-right-width: 0;
}
</style>
